<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Show Customer</title>
</head>

<body>
	<div layout:fragment="content" class="row page-view">
		<div class="row">
			<div class="col-md-12">

				<h2>
					Customer Details
				</h2>
			</div>
			<div class="col-md-12">

				<table class="tbl-show table" style="width:600px">
					<tr>
						<td>ID</td>
						<td th:text="${obj.customerId}"></td>
					</tr>
					<tr>
						<td>First Name</td>
						<td th:text="${obj.fname}"></td>
				    </tr>
				    <tr>
						<td>Last Name</td>
						<td th:text="${obj.lname}"></td>
				     </tr>
										
					<tr>
						<td>Phone</td>
						<td th:text="${obj.mobile}"></td>
					</tr>
					<tr>
						<td>Email</td>
						<td th:text="${obj.emailId}"></td>
					</tr>
					<tr>
						<td>Address</td>
						<td th:text="${obj.address}"></td>
					</tr>
					<tr>
						<td>Zip</td>
						<td th:text="${obj.zip}" />
					</tr>
					
				</table>
			</div>
			<div class="col-md-12">

				<form th:if="${session.usertype=='Admin'}" action="/customer/delete">
					<input type="hidden" name="id" th:value="${obj.id}" />
					<h2><input type="submit" class="btn btn-danger btn-submit" value="Delete"
							onclick="return confirm('Are you sure?');" />
					</h2>
				</form>
			</div>
		</div>
	</div>
</body>

</html>