<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Table List</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-list">

			<h2 class="text-danger">
				Table Details
			</h2>

			<div class="table-responsive">
				<table class="table table-striped page-details" style="width: 600px;margin:auto">
					<thead class="table-danger">
						<tr>
							<th>Table No</th>
							<th>Capacity</th>
							<th>Waiter</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">
							<td th:text="${data.tableNo}"></td>
							<td th:text="${data.capacity}"></td>
							<td th:text="${data.waiterId}"></td>
													
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>