<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Edit Table Details </title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-edit">
			<div class="col-md-12">

				<h2>
					Edit Table Details
				</h2>
			</div>
			<div class="col-md-12">

				<form th:action="@{/table/update}" th:object="${table}">
					<table class="tbl-form">
						<tr>
							<td>Table No</td>
							<td><input readonly type="text" class="form-control" name="tableNo"
									th:value="${obj.tableNo}" required/></td>
						</tr>
						<tr>
							<td>Capacity</td>
							<td><input type="text" class="form-control" name="capacity" th:value="${obj.capacity}" required/>
							</td>
						</tr>
						<tr>
							<td>Waiter Id</td>
							<td>
								<select class="form-control" name="waiterId">
									<option th:value="${obj.waiterId}"></option>
									<option th:each="data : ${waiters}" th:value="${data.employeeId}"
										 th:text="${data.employeeId}">
									</option>
								</select>

							</td>
						</tr>
					</table>

					<input type="hidden" name="id" th:value="${obj.id}" />
					<button type="submit" class="btn btn-success btn-submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>